*{
    margin: 0;
    padding: 0;
}
table{
    border: 1px black solid;
}
th{
    border: 1px black solid;
}
td{
    border: 1px black solid;
}

@media screen and (max-width:700px) {
ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
li{
    list-style-type: none;
    text-decoration: none;
    background-color: aquamarine;
}
a{
    text-decoration: none;
}


@media screen and (min-width: 700px) {
    body {
        background-color: rgb(144, 174, 238);
        width: 100%;
        font-size: 3vw;
      }
    main {
        
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "h h"
        "n n"
        "as ar"
        "f f";
    } 
    article{
      
        grid-template-columns: 1fr 1fr ;
       
    }
}

@media screen and (max-width:400px) {
    body {
        background-color: rgb(144, 174, 238);
        width: 100%;
        font-size: 5vw;
      }
      main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "ar"
        "as"
        "f";
      }
      article{
      
        grid-template-columns: 1fr ;
       
    }
}